<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{531,1177},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,41}</string>
                <key>spriteSourceSize</key>
                <string>{20,41}</string>
                <key>textureRect</key>
                <string>{{291,1383},{20,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,141}</string>
                <key>spriteSourceSize</key>
                <string>{104,141}</string>
                <key>textureRect</key>
                <string>{{913,960},{104,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{741,583},{173,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,178}</string>
                <key>spriteSourceSize</key>
                <string>{197,178}</string>
                <key>textureRect</key>
                <string>{{705,766},{197,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,203}</string>
                <key>spriteSourceSize</key>
                <string>{212,203}</string>
                <key>textureRect</key>
                <string>{{317,995},{212,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{500,767},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{531,972},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,120}</string>
                <key>spriteSourceSize</key>
                <string>{112,120}</string>
                <key>textureRect</key>
                <string>{{519,1322},{112,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,120}</string>
                <key>textureRect</key>
                <string>{{884,1151},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{340,293}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{641,1},{340,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{360,289}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{279,1},{360,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,120}</string>
                <key>spriteSourceSize</key>
                <string>{27,120}</string>
                <key>textureRect</key>
                <string>{{983,1},{27,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,120}</string>
                <key>textureRect</key>
                <string>{{885,1273},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,120}</string>
                <key>spriteSourceSize</key>
                <string>{112,120}</string>
                <key>textureRect</key>
                <string>{{641,1322},{112,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{763,1298},{121,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,78}</string>
                <key>spriteSize</key>
                <string>{146,145}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{736,1151},{146,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,75}</string>
                <key>spriteSize</key>
                <string>{184,175}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{736,965},{184,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{306,285}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{603,296},{306,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{322,277}</string>
                <key>spriteSourceSize</key>
                <string>{374,333}</string>
                <key>textureRect</key>
                <string>{{279,292},{322,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-1}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{958,1220},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{267,767},{55,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-2}</string>
                <key>spriteSize</key>
                <string>{115,61}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{958,1103},{115,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-6}</string>
                <key>spriteSize</key>
                <string>{177,117}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{898,610},{177,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,10}</string>
                <key>spriteSize</key>
                <string>{169,135}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{885,789},{169,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-2}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{273,159}</string>
                <key>textureRect</key>
                <string>{{676,1177},{99,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,226}</string>
                <key>spriteSourceSize</key>
                <string>{187,226}</string>
                <key>textureRect</key>
                <string>{{317,767},{181,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,226}</string>
                <key>spriteSourceSize</key>
                <string>{187,226}</string>
                <key>textureRect</key>
                <string>{{291,1200},{181,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,226}</string>
                <key>spriteSourceSize</key>
                <string>{187,226}</string>
                <key>textureRect</key>
                <string>{{513,583},{181,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{312,92}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{911,296},{312,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,17}</string>
                <key>spriteSize</key>
                <string>{244,194}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{267,571},{244,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{314,332}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{1,851},{314,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{276,420}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{264,426}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{1,423},{264,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{214,288}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{1,1185},{214,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,3}</string>
                <key>spriteSize</key>
                <string>{16,288}</string>
                <key>spriteSourceSize</key>
                <string>{338,600}</string>
                <key>textureRect</key>
                <string>{{1,1401},{16,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_game.png</string>
            <key>size</key>
            <string>{1021,1435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d34fdbeb4054cab15ce4c4a31a08483:8ec8e4b21cdb5042db201c3c7f572405:1a51ee05fa5bcb6de76caab821ec3a4a$</string>
            <key>textureFileName</key>
            <string>ui_game.png</string>
        </dict>
    </dict>
</plist>
