<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{547,1},{77,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{504,171},{51,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>borderBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{414,97},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{310,1},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{445,185},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,39}</string>
                <key>spriteSourceSize</key>
                <string>{17,39}</string>
                <key>textureRect</key>
                <string>{{134,210},{17,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,77}</string>
                <key>spriteSourceSize</key>
                <string>{52,77}</string>
                <key>textureRect</key>
                <string>{{583,80},{52,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireVal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{95,210},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{670,165},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{564,171},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{637,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,77}</string>
                <key>textureRect</key>
                <string>{{504,85},{84,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{448,1},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{102,82}</string>
                <key>textureRect</key>
                <string>{{310,97},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,207}</string>
                <key>spriteSourceSize</key>
                <string>{307,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{642,1},{80,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{384,185},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{310,181},{61,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{617,165},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{1,210},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weightVal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{50,210},{31,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_view.png</string>
            <key>size</key>
            <string>{718,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f806e7208bc959743cc1b0a40c5514:173430f320829c7949c9d18e0872cce8:b1c26fa13c8de854d73db210ad0cec7a$</string>
            <key>textureFileName</key>
            <string>ui_view.png</string>
        </dict>
    </dict>
</plist>
